
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Statistic/css/Style.css" rel="stylesheet" />

<div class="content-total">
    <div class="content-list">
        <div class="content-1" style="background-color:#1abc9c">
            <div class="text-center">
                <h3>@ViewBag.v1</h3>
                <p>Total Category</p>
            </div>
        </div>
        <div class="content-2" style="background-color:#2ecc71">

            <div class="text-center">
                <h3>@ViewBag.v2</h3>
                <p>Total Product</p>
            </div>
        </div>
        <div class="content-3" style="background-color:#3498db">

            <div class="text-center">
                <h3>@ViewBag.v3</h3>
                <p>Computer Count</p>
            </div>
        </div>
        <div class="content-4" style="background-color:#9b59b6">

            <div class="text-center">
                <h3>@ViewBag.v4</h3>
                <p>Computer Stock Count</p>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="content-total">
    <div class="content-list">
        <div class="content-1" style="background-color:#f1c40f">
            <div class="text-center">
                <h3>@ViewBag.v5</h3>
                <p>Max Computer Stock</p>
            </div>
        </div>
        <div class="content-2" style="background-color:#e67e22">

            <div class="text-center">
                <h3>@ViewBag.v6</h3>
                <p>Min Computer Stock</p>
            </div>
        </div>
        <div class="content-3" style="background-color:#e74c3c">

            <div class="text-center">
                <h3>@ViewBag.v7</h3>
                <p>Average Price of Computers</p>
            </div>
        </div>
        <div class="content-4" style="background-color:#95a5a6">

            <div class="text-center">
                <h3>@ViewBag.v8</h3>
                <p>Most Expensive Computer</p>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>


