
@model TechnologyStore.Models.Product

@{
    ViewData["Title"] = "ProductUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-center"><b>Product Update Page</b></h2>
<br />
@using (Html.BeginForm("ProductUpdate", "Product", FormMethod.Post))
{
    <div>
        <p>Product ID:</p>
        @Html.TextBoxFor(x => x.ProductID, new { @class = "form-control" })
    </div>
    <div>
        <p>Product Name:</p>
        @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ProductName, "", new { @style = "color:red" })
    </div>
    <br />
    <div>
        <p>Category:</p>
        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.v1, new { @class = "form-control" })
    </div>
    <br />
    <div>
        <p>Price:</p>
        @Html.TextBoxFor(x => x.ProductPrice, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ProductPrice, "", new { @style = "color:red" })
    </div>
    <br />
    <div>
        <p>Stock:</p>
        @Html.TextBoxFor(x => x.ProductStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ProductStock, "", new { @style = "color:red" })
    </div>
    <br />
    <div>
        <p>Image Url:</p>
        @Html.TextBoxFor(x => x.ImageURL, new { @class = "form-control" })
    </div>
    <br />
    <div>
        <p>Product Description:</p>
        @Html.TextAreaFor(x => x.ProductDescription, new { @class = "form-control" })
    </div>
    <br />
    <a href="~/Product/Index" class="btn btn-danger">Back</a>
    <button class="btn btn-primary">Save</button>
}
